body {
    background-color: black;
    color: white;
}

.just {
    margin-top: 5%;
    margin-bottom: 10%;
}

.just a {
    color: white;
    padding-left: 13%;
    font-size: xx-large;
    font-weight: 1500;
    text-decoration: none;
    margin-bottom: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.anon {
    padding-left: 5%;
    margin-bottom: 50px;
}

.anon p {
    color: cadetblue;
}

.anon h5 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #008099;
    letter-spacing: 2px;
    display: block;
    padding-bottom: 20px
}

.trust {
    color: cadetblue;
    font-family: 'Times New Roman', Times, serif;
}

.kiev {
    float: right;
    margin-right: 30px;
    max-width: 50%;
    margin-bottom: 8%;
}

.kiev h2 {
    font-size: 28px;
    font-family: sans-serif;
}

.image {
    padding-left: 30px;
}

.footer {
    text-align: center;
    background-color: black;
    color: cadetblue;
    font-size: small;
}

.footer div a {
    background-color: white;
    padding: 15px;
    margin-bottom: 50px;
    border-radius: 2em;
    text-decoration: none;
}

.footer {
    margin-top: 15%;
}

.dev {
    background-color: cadetblue;
    text-align: center;
    padding: 2px;
}